@charset "utf-8";

/* 전체화면 옵션 */
* {
  box-sizing: border-box;
  border: 1px solid red !important;
}

a {
  text-decoration: none;
  color: black;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

/* 화면 구성 */
.wrap {
  height: 500px;
  margin: 0 auto;
}

.signUpBox {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.signUpBox h1 {
  text-align: center;
  font-size: 5em;
}

.signUpBox input[type="text"] {
  display: block;
  width: 400px;
  margin: 0 auto;
}
