a {
    text-decoration: none;
}

#pop_wrap {
    margin: 0 auto;
    text-align: center;
}

.inner {
    margin: 0 auto;
    width: 1200px;
}

.Pp_title {
    font-size: 30px;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
}

.Pp_rankBox {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.Pp_rankBox .rk_box {
    width: 220px;
    height: 250px;
    border: 1px solid rgb(226, 226, 226);
    position: relative;
    text-align: left;
    margin: 0 30px;
}

.Pp_rankBox .rk_box .rk_img {
    width: 100%;
    height: 65%;
    background-color: #beedff;
}

.Pp_rankBox .rk_box .rk_img img {
	width: 100%;
    height: 100%;
}

.rk_content {
    height: 35%;
    background-color: #ebebeb;
}

.rk_content p {
    padding: 8px;
    font-size: 14px;
}

.fa-thumbs-up {
    color: gray;
}

.Pp_search {
    margin: 60px 0 20px;
    text-align: center;
}

.hashTag_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hashTag_list a{
    padding: 5px 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #777777;
}

.hashTag_list a:hover{
    border: 1px solid #000;
    font-weight: bold;
}

.boardBox {
	width: 800px;
	margin: 0 auto;
}

.Pp_table {
    margin: 0 auto;
}

.Pp_table .Pp_table_title td {
    font-weight: bold;
    font-size: 14px;
}

.Pp_table .Pp_table_title {
    border-top: 0;
}


.Pp_table tr {
    border: 1px solid #beedff;
    border-left: 0px;
    border-right: 0px;
}

.Pp_table tr:hover {
    background-color: #e9f9ff;
}

.Pp_table tr:last-child {
    border-bottom: 0;
}

.Pp_table tr td {
    width: 170px;
    font-size: 13px;
    padding: 10px 0;
}

.Pp_table tr td:nth-child(1){
	width: 50px;
}

.Pp_table tr td:nth-child(2){
	width: 300px;
}

.Pp_table tr td:nth-child(3){
	width: 300px;
}

.Pp_table tr td:nth-child(4){
	width: 100px;
}
.Pp_table tr td:nth-child(5){
	width: 50px;
}

.Pp_page {
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
}