@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Paytone+One&display=swap');

* {box-sizing: border-box;}
a {text-decoration: none; color: #333;}
body {font-family: 'Noto Sans KR', sans-serif;}

.signOut_wrap {
	position: absolute;
	top: 30%;
	left: 50%;
	transfrom: translate(-30%, -50%);
}
h1 {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 30px;
    border-left: 3px solid #81d9f5;
    padding-left: 15px;
}
input {
	border: 0;
	border-bottom: 1px solid #e9e9e9;
	margin-left: 20px;
	width: 120px;
}
input:focus {
	outline: none;
}
.button {
	display: inline-block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
	border-radius: 10px;
	transition: all 0.5s;
}
.button:hover {
	background-color: #fdeac4;
}
div {
	margin-bottom: 20px;
}