@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 기본 설정 */
html, body {width: 100%; height: 100%;}

ul {list-style: none;}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* map-area 지도 창 임의 구성 */
.map_area {
    /* 화면 크기 구성 다시 알아 보기 */
    max-width: 100%;
    height: 1900px;
    background-image: url("../images/sub0284_img01.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}


/* side tap bar 구현 - 메인 스케쥴 작성 area */
/* side bar : 사이드 바의 전체 컨테이너 */
.side_bar {
    /* map-area의 영역 위에 존재 위치 설정 -> 오른쪽*/
    position: fixed;
    right: 0;
    top: 0;
    /* z-index 통일할 것 */
    z-index: 10;
    /* max-width 조절 할 것 */
    width: 30%;
    height: 100%;
    /* 이후 색상 컨셉 통일할 것 */
    background-color: #4bbcf4;
    text-align: center;
}

.btn_con {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: 50px;
	display: flex;
}
.plan_submit {background-color: #ea5148;}	
.plan_cancle {background-color: rgb(5, 29, 64);}
.plan_submit,
.plan_cancle {
	width: 50%;
	height: 50px;
	color: white;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
}

.side_button {
    width: 40px;
    height: 80px;
    background-color: rgb(5, 29, 64);
    color: white;
    line-height: 80px;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    border-radius: 10px 0 0 10px;
}
.side_button:hover {cursor: pointer;}

/* 사이드 바의 탭 */
.plan_sub {
    width: 90%;
    height: 70px;
    line-height: 70px;
    margin: 50px auto 0;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
    position: relative;
    background-color: white;
}
.edit_sub {
	position: absolute;
	top: 25px;
	right: 10%;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgb(5, 29, 64);
	font-size: 15px;
	color: white;
	width: 40px;
	height: 20px;
	line-height: 20px;
}


/* tab-detail */
.tab_detail {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

/* 플랜 작성 메인 탭 */
/* 추가 버튼 */
.plan_btn {
    width: 30px; height: 30px;
    line-height: 30px;
    border-radius: 50%; border: 0px;
    background-color: rgb(5, 29, 64);
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.plan_btn:hover {cursor: pointer;}

/* 플랜 리스트 */
/* 날짜 탭 */
.day_plan_tab {display: flex; justify-content: space-around; width: 100%;}
.day_plan_tab li {margin: 30px 0 0; width: 20%; height: 40px;
    border: 1px solid rgb(255, 246, 191);
    border-radius: 10px;
    line-height: 40px;
    background-color: rgb(5, 29, 64);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
li.active_day {
    background-color: white;
    color: #4bbcf4;
    border-color: #4bbcf4;
}
.day_plan_tab li:active {
	border: 3px solid #4bbcf4;
}

.plan_day {
    width: 90%; height: 24px;
    background-color: rgb(255, 246, 191);
    margin: 20px 5%;
    line-height: 24px;
    border-radius: 4px;
}

/* .day_plan_con {width: 100%; max-height:100%; overflow-y: scroll;}
.day_plan_con::-webkit-scrollbar {width: 0;} */
form {width: 100%; max-height:100%; overflow-y: scroll;}
form::-webkit-scrollbar {width: 0;}
.blank {width: 100%; height: 400px;}

/* plan list 내부 구성 */
.plan_list {
    display: flex;
    width: 90%; margin: 8px 5%;
    height: 120px;
    align-content: center;
    justify-content: space-around;
    position: relative;
}
.remove_plan {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.remove_plan:hover {color: #ea5148; font-weight: 900;}

.plan_list .up_down .up,
.plan_list .up_down .down {
	cursor: pointer;
	margin: 8px 0;
	color: rgb(5, 29, 64);
	font-size: 25px;
	height: 25px;
	width: 25px;
	line-height: 25px;
}
.plan_list .up_down .up {margin-bottom: 16px;}
.plan_list .up_down .up:hover,
.plan_list .up_down .down:hover {color: #ea5148;}
.plan_list .up_down .plan_no {
	color: white;
	background-color: rgb(5, 29, 64);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
}
.plan_list .plan_main {
    text-align: left;
    width: 80%;
    border: 1px solid rgb(5, 29, 64);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.plan_list .plan_main:hover {
	border: 3px solid #ea5148;
}

.plan_main img {
	float:left;
	width: 40%;
	height: 100%;
	background-color: gray;
}

.plan_main .plan_seq {
	font-size: 20px;
	margin: 5px 0;
	color: blue;
}

/* search tab */
.search_con {display: none; text-align: left;}
.search_con .search_bar {
    width: 80%;
    border-bottom: 1px solid black;
}
.search_con .search_list {
    margin: 10px 10%;
    width: 80%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
}
.search_con .search_list p {margin: 5%;}


/* modal */

.black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
}
.modal {
	width: 500px;
    height: 500px;
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: white;}
.modal_detail {
	overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.back {
	width: 50px; height: 50px;
    position: absolute;
    right: -25px; top: -25px;
    cursor: pointer;
    border-radius: 50px; background-color: black; color: white;
    font-size: 30px; text-align: center;
}
.insert {cursor: pointer;}
.test {color: red; cursor: pointer;}

/* plan info */
.plan_info{
	width: 100%;
  	height: 100%;
  	background-color: rgba(0, 0, 0, 0.7);
 	position: fixed;
  	z-index: 30;
  	top: 0;
  	left: 0;
}
.hidden {display: none;}