<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/myPage_style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/mypage.js"></script>
</head>
<body>


    <div class="mypage_wrap">

        <ul class="mypage_nav">
            <li><span class="bold">MY PAGE</span></li>
            <li><a href="">회원정보수정</a></li>
            <li><a href="">나의 플랜목록</a></li>
        </ul>
        
        
        <div class="mypage_content">
            <!-- 나의 플랜 목록 -->
            <div class="mypage_plan">
                <form action="" method="post" name="myplan">
                    <h1>나의 플랜 목록</h1>
                    <div class="myplan_wrap">
                        <div class="myplan_content">
                            <a href="myPlan.html">
                                <p class="myplan_date"><span class="bold">제목 </span> 바다여행</p>
                                <p class="myplan_date"><span class="bold">일정 </span> 1월 1일 - 1월 2일</p>
                                <p class="myplan_date"><span class="bold">태그 </span> #바다 #어쩌구 #저쩌구</p>
                            </a>
                        </div>
                        <div class="myplan_management">
                            <input type="button" name="plan_edit" value="수정" onclick=""> <!--수정페이지로 이동-->
                            <input type="button" name="plan_delete" value="삭제" onclick="delete_ok()"><br>
                            <input type="button" name="plan_share" value="공유" class="share" onclick="sharecheck()">
                        </div>
                    </div>
                </form>
            </div>

        <!-- 회원 정보 수정 -->
            <div class="mypage_content">
                <div class="mypage_edit">
                    <form action="edit_ok.jsp" method="post" name="profile_edit">
                        <h1>회원 정보 수정</h1>
                        <p>
                            <span class="bold">아이디</span>
                            id
                        </p>
                        <p>
                            <span class="bold">비밀번호</span>
                            <input type="password" name="pwd">
                        </p>
                        <p>
                            <span class="bold">비밀번호확인</span>
                            <input type="password" name="pwd_check">
                        </p>
                        <p>
                            <span class="bold">닉네임</span>
                            <input type="text" name="nickname">
                        </p> 
                        <p>
                            <span class="bold">이메일</span>
                            <input type="email" name="email">
                        </p>
                        <input type="button" name="p_edit" value="정보 수정" onclick="check()">
                        <input type="button" name="p_delete" value="회원 탈퇴" onclick="signout()">
                    </form>
                </div>
            </div>
        </div>
    </div> <!--mypage_wrap-->

</body>
</html>