<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/myPage_style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>


    <div class="mypage_wrap">

        <ul class="mypage_nav">
            <li><span class="bold">MY PAGE</span></li>
            <li><a href="?pageChange=myPage_edit.html">회원정보수정</a></li>
            <li><a href="?pageChange=myPage_plan.html">나의 플랜목록</a></li>
        </ul>
        
        
        <div class="mypage_content">
            <!-- 나의 플랜 목록 -->
            <div class="mypage_plan">
                <form action="" method="post">
                    <h1>나의 플랜 목록</h1>
                    <div class="myplan_wrap">
                        <div class="myplan_content">
                            <p class="myplan_date"><span class="bold">제목 </span> 바다여행</p>
                            <p class="myplan_date"><span class="bold">일정 </span> 1월 1일 - 1월 2일</p>
                            <p class="myplan_date"><span class="bold">태그 </span> #바다 #어쩌구 #저쩌구</p>
                        </div>
                        <div class="myplan_management">
                            <input type="button" name="edit" value="수정">
                            <input type="button" name="delete" value="삭제"><br>
                            <input type="button" name="check" value="공유" class="share">
                            <p>공유 버튼 클릭 시 나의 일정이 회원들에게 공유됩니다.</p>
                        </div>
                    </div>
                </form>
            </div>

        <!-- 회원 정보 수정 -->
            <div class="mypage_content">
                <div class="mypage_edit">
                    <form action="" method="post">
                        <h1>회원 정보 수정</h1>
                        <p><span class="bold">아이디</span> id</p>
                        <p><span class="bold">비밀번호</span> pw</p>
                        <p><span class="bold">닉네임</span> name</p> 
                        <p><span class="bold">이메일</span> email</p>
                        <input type="button" name="edit" value="정보 수정">
                        <input type="button" name="delete" value="회원 탈퇴">
                    </form>
                </div>
            </div>
        </div>
    </div> <!--mypage_wrap-->

    <script>

    </script>

</body>
</html>