@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  color: #1eb1e0;
}

.signUpBox {
  width: 600px;
  /* height: 600px; */
  margin: 150px auto;
  border: 2px solid skyblue;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #1dc1f5;
}

#logo {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 35px;
}

.signUpBox form {
  margin-top: 20px;
}

.signUpBox input[type="text"] {
  display: block;
  width: 400px;
  height: 30px;
  margin: 0 auto;
}

.signUpBox input[type="password"] {
  display: block;
  width: 400px;
  height: 30px;
  margin: 0 auto;
}

.signUpBox div {
  text-align: center;
}

.signUpBox div p {
  margin: 10px auto;
}

.genderBox {
  margin-top: 10px;
}

.signUpBox input[type="button"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.signUpBox input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
  height: 40px;
}

.signUpBox> form > div {
	margin-top: 20px;
}

#m_nickname {
	display: inline-block;
	width: 320px;
	margin-left: -10px;
}

#nickCheck {
	float: right;
	height: 30px;
	margin: 0;
	transform: translateX(-140%);
}

#nicknameWarn2 {
	color: red;
}

#nicknameWarn2_1{
	color: blue;
}

#nicknameWarn1, #nicknameWarn3, #pwdWarn1, #pwdWarn2, #pwdWarn3, #birthWarn1, #birthWarn2, #birthWarn3, #genderWarn, #nicknameWarn4 {
	color: red;
	display: none;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

#nickC_forJs, #nickR_forJs{
	display: none;
}

#signCommit {
	display: inline-block;
	margin: 20px auto;;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 130px;
	width: 150px;
	height: 70px;
	background-color: white;
	border: 2px solid skyblue;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #1dc1f5;
	font-family: 'Noto Sans KR', sans-serif;
    color: #1eb1e0;
    font-size: 1.3em
}

#home {
	display: inline-block;
	margin: 20px auto;
	width: 150px;
	height: 70px;
	background-color: white;
	border: 2px solid skyblue;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #1dc1f5;
	font-family: 'Noto Sans KR', sans-serif;
    color: #1eb1e0;
    font-size: 1.3em
}