@charset "UTF-8";

* {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}

a {
  text-decoration: none;
  color: black;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  height: 500px;
  margin: 0 auto;
}

.signUpBox {
  width: 500px;
  /* height: 600px; */
  margin: 0 auto;
}

.signUpBox h1 {
  text-align: center;
  font-size: 5em;
}

.signUpBox form {
  margin-top: 20px;
}

.signUpBox input[type="text"] {
  display: block;
  width: 400px;
  height: 30px;
  margin: 0 auto;
}

.signUpBox input[type="password"] {
  display: block;
  width: 400px;
  height: 30px;
  margin: 0 auto;
}

.signUpBox div {
  text-align: center;
}

.signUpBox div p {
  margin: 10px auto;
}

.genderBox {
  margin-top: 10px;
}

.signUpBox input[type="button"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.signUpBox input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
  height: 40px;
}

#nicknameWarn2 {
	color: red;
}

#nicknameWarn1, #nicknameWarn3, #pwdWarn1, #pwdWarn2, #pwdWarn3, #birthWarn1, #birthWarn2, #birthWarn3, #genderWarn {
	color: red;
	display: none;
}