@charset "utf-8";

/* 전체화면 옵션 */
* {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.inner {
  width: 1920px;
  margin: 0 auto;
}

/* wrap */
.wrap {
  position: relative;
  height: 969px;
}

body > input[type="button"] {
  display: none;
}

/* title */
#main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
  height: 300px;
  animation: title_move 1s 2.1s ease-in-out forwards;
}

@keyframes title_move {
	0%{}
	100%{
		top: 10%;
		left: 50%;
		width: 550px;
		height: 200px;
		cursor: pointer;
	}
}

#main_title img {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

#title_blind {
	position: absolute;
	right: 0;
	z-index: 2;
 	width: 100%;
	height: 100%;
	background-color: white;
	animation: pull_blind 0.8s 0.6s linear forwards;
}

@keyframes pull_blind {
	0%{}
	100%{
		right: -100%;
		display: none;
	}
}

#flight {
	position: absolute;
	top: 50%;
	left: -25%;
	opacity: 0;
	transform: translateY(-50%);
	animation: flight_move 2s linear forwards;
}

@keyframes flight_move{
		
	0%{
		opacity: 1;
	}
	99%{
		opacity: 1;
	}
	100%{
		left: 95%;
		display: none;
	}
}

/* 로그인 ui */
.main_menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.main_menu input {
  display: none;
}

.main_menu .login {
  display: block;
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.main_menu .signUp {
  display: block;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.d-day {
  display: block;
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 100px;
}

.main_menu .myInfo {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.main_menu .logOut {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.fc-day-today {
  background: none !important;
  border: 2px solid black !important;
}

/* 플랜 작성 버튼 */
.main_planner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
}

.main_planner input {
  display: none;
}

.main_planner label {
  display: block;
  width: 300px;
  height: 300px;
  line-height: 300px;
  cursor: pointer;
}

/* gnb */
.wrap > input[type="button"] {
  display: none;
}

.wrap > label:nth-of-type(1) {
  display: block;
  position: absolute;
  left: 70px;
  top: 10%;
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.wrap > label:nth-of-type(2) {
  display: block;
  position: absolute;
  left: 70px;
  top: 35%;
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.wrap > label:nth-of-type(3) {
  display: block;
  position: absolute;
  left: 70px;
  top: 60%;
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.wrap > input[type="button"]:nth-of-type(3):active~ label:nth-of-type(3) {
  animation: gnb_ani 0.8s ease-in-out forwards;
}

.wrap > input[type="button"]:nth-of-type(3):active ~ label:nth-of-type(3) h2 {
  animation: gnb_title_move 0.8s ease-in-out forwards;
}

.wrap
  > input[type="button"]:nth-of-type(3):active
  ~ label:nth-of-type(3)
  #calendar {
  width: 400px;
  height: 435px;
  opacity: 1;
  transition: 1s 0.6s;
}

@keyframes gnb_title_move {
  100% {
    top: 10%;
  }
}

@keyframes gnb_ani {
  0% {
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
  }
}

#calendar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
}

.wrap > label > h2 {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
