<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	 <servlet>
       <servlet-name>PlanDetail</servlet-name>
       <servlet-class>org.ga2.buna.servlet.planDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>PlanDetail</servlet-name>
       <url-pattern>/plandetail</url-pattern>
    </servlet-mapping>
    
	<servlet>
	    <servlet-name>DateCheck</servlet-name>
	    <servlet-class>org.ga2.buna.servlet.DateCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>DateCheck</servlet-name>
	    <url-pattern>/DateCheck</url-pattern>
    </servlet-mapping>
</web-app>