<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ga2.buna.dao.memberinfo.MemberDAO">
	
   	<update id="updateMember">
		UPDATE MEMBERINFO
		<if test="memberPassword != null">
			SET M_PASSWORD = #{memberPassword},
		</if>
	       	    M_BIRTHYEAR = #{memberBirthyear}, M_GENDER = #{memberGender}
		WHERE M_NICKNAME = #{memberNickname}
	</update>

</mapper>