@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Paytone+One&display=swap');

* {
    box-sizing: border-box;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.detail_container {
    display: flex;
    height: 100%;
}

.aside {
    width: 1000px;
    height: 100%;

    /*width: 60%;*/
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height: 2;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

span {
    color: #20a3f0;
    font-weight: bold;
}

/* 좋아요 */
.like a {
    cursor: pointer;
}

.xi-heart {
    color: red;
}

.intro_wrap {
    display: flex;
    height: 45px;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
}

.day_wrap {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

.container {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;

    /*width: 100%;*/
}

.none {
    width: 80px;
    height: 60px;
    margin-right: 20px;

    /*width: 8%;*/
}

.tripday {
    width: 80px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    background-color: #e9e9e9;
    color: #7c7c7c;
    border-radius: 10px;
    margin-right: 20px;

    /*width: 8%;*/
}

/* 세부 일정 */
.schedule {
    text-align: center;
    width: 160px;
    margin: 20px 0;

    /*width: 18%;*/
}

.location {
    font-size: 11px;
    letter-spacing: -1px;
}

.schedule .spotname {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 15px;
}

.schedule p:last-of-type {
    margin-top: 10px;
}

.schedule .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6b6b6b;
    position: relative;
    margin-left: 75px;
    margin-top: 10px;
}

.schedule .edge {
    width: 160px;
    height: 2px;
    background-color: #6b6b6b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.management {
    text-align: right;

}

.management input[type=button] {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: all 0.5s;
}

.management input[type=button]:hover {
    background-color: #fdeac4;
}