@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
    color: #111827;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300 !important;
}

a {
    text-decoration: none;
    color: #111827;
}

#pop_wrap {
    margin: 0 auto;
    text-align: center;
}

/* ----------------- */

.logo {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}

.logo > div {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo .logo_img {
    width: 300px;
}

.logo img {
    width: 250px;
    height: 87px;
    cursor: pointer;
}

/* ----------------- */

.inner {
    margin: 0 auto;
    width: 1200px;
}

.Pp_title {
    font-size: 30px;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
}

.Pp_rankBox {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.Pp_rankBox .rk_box {
    width: 250px;
    height: 260px;
    position: relative;
    border: 1px solid #e2e2e2;
    text-align: left;
    margin: 0 15px;
    overflow: hidden;
}

.Pp_rankBox .rk_box:hover {
    border: 1px solid #0d6efd;
}

.Pp_rankBox .rk_box .rk_img {
    width: 100%;
    height: 65%;
    background-color: #beedff;
    overflow: hidden;
}

.Pp_rankBox .rk_box .rk_img p {
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

.Pp_rankBox .rk_box .rk_img img {
    width: 100%;
    height: 100%;
    transition: all 1.5s;
}

.Pp_rankBox .rk_box .rk_img:hover img {
    transform: scale(1.2);
}


.rk_content {
    height: 35%;
    background-color: #f6f6f6;
}

.rk_content > div {
    padding: 4px;
}

.rk_content p {
    padding: 5px;
    font-size: 14px;
}

.rk_content p:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.rk_content p:nth-child(2) {
    font-size: 12px;
}

.rk_content p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
}

.fa-user {
    color: gray;
}

.fa-thumbs-up {
    color: gray;
}

.Pp_search {
    margin: 60px 0 20px;
    text-align: center;
}

.Pp_search p {
    font-size: 18px;
    font-weight: bold;
    color: #777777;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.hashTag_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hashTag_list a {
    padding: 5px 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #777777;
    cursor: pointer;
}

.hashTag_list a:hover {
    border: 1px solid #000;
    font-weight: 500;
}

.boardBox {
    width: 1000px;
    margin: 0 auto;
}

.myboard {
    text-align: right;
    margin-right: 100px;
}

.Pp_table {
    margin: 0 auto;
}

.Pp_table .Pp_table_title td {
    font-weight: bold;
    font-size: 16px;
}

.Pp_table .Pp_table_title td a {
    color: #0d6efd;
}


.Pp_table .Pp_table_title {
    border-top: 0;
    background-color: #f0f6fa;
}


.Pp_table .Pp_table_content td a {
    color: #000;
    font-weight: 500;
}

.Pp_table .Pp_table_content td a:hover {
    text-decoration: underline;
}

.Pp_table .Pp_table_content td:nth-child(3) {
    line-height: 1.3;
}

.Pp_table .Pp_table_content td .etc {
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.Pp_table tr {
    border: 1px solid #e2e2e2;
    border-left: 0px;
    border-right: 0px;
}

.Pp_table tbody tr:hover {
    background-color: #e9f9ff;
}

.Pp_table tr:last-child {
    border-bottom: 0;
}

.Pp_table tr td {
    width: 170px;
    font-size: 14px;
    padding: 16px 0;
}

.Pp_table tr td:nth-child(1) {
    width: 60px;
}

.Pp_table tr td:nth-child(2) {
    width: 240px;
}

.Pp_table tbody tr td:nth-child(2) {
    text-align: left;
    padding-left: 50px;
}

.Pp_table tr td:nth-child(3) {
    width: 330px;
}

.Pp_table tr td:nth-child(4) {
    width: 100px;
}

.Pp_table tr td:nth-child(5) {
    width: 160px;
}

.Pp_table tr td:nth-child(6) {
    width: 50px;
}

.Pp_page {
    display: inline-block;
    margin: 0 auto 30px;
}

.Pp_page a {
    cursor: pointer;
}

.indicaotr {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.slick-dots li {
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

.slick-dots li:hover {
    cursor: pointer;
}

.slick-dots li a {
    font-size: 14px;
    color: #000;
}

.slick-dots .slick-active {
    background-color: #0090F9;
    font-weight: bold;
}

.slick-dots .slick-active a {
    color: #fff;
}