@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

/* Login */
.wrap {
    font-family: 'Noto Sans KR', sans-serif;
    color: #1dc1f5;
}

.loginbox {
    width: 800px;
    height: 600px;
    margin: 150px auto;
    border: 2px solid skyblue;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #1dc1f5;
}

#logo {
    display: block;
    margin: 80px auto 50px;
}

.loginbox input[type="text"] {
    display: block;
    width: 550px;
    height: 50px;
    margin: 20px auto;
    border-radius: 15px;
    border: 2px solid skyblue;
    box-shadow: 1px 1px 1px #1dc1f5;
}

.loginbox input[type="password"] {
    display: block;
    width: 550px;
    height: 50px;
    margin: 20px auto;
    border-radius: 15px;
    border: 2px solid skyblue;
    box-shadow: 1px 1px 1px #1dc1f5;
}

.warning {
    margin-left: 130px;
    color: red;
}

#loginBtn {
    display: block;
    width: 400px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border: 2px solid skyblue;
    border-radius: 15px;
    font-size: 2em;
    box-shadow: 1px 1px 1px #1dc1f5;
    color: #1dc1f5;
    background-color: white;
}

.home {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    color: #1dc1f5;
}